@mixin flexCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filter-buttons {
  @include flexCenter;
  margin-top: 24px;
  gap: 16px;
  button {
    @include flexCenter;
    flex-direction: column;
    border-radius: 20%;
    height: 120px;
    width: 128px;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-weight: bolder;

    &:hover {
      transition: 200ms;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #f02e51;
      color: white;
    }
  }
  svg {
    font-size: 32px;
  }
}
