@mixin FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 16%;
  padding: 16px;
  background: BABD42;
  background: linear-gradient(
    90deg,
    rgb(239, 211, 69) 3%,
    rgb(186, 189, 66) 49%
  );
  color: white;

  ul {
    display: flex;
    gap: 8px;
    list-style-type: none;

    li {
      a {
        text-decoration: none;
        color: inherit;
        @include FlexCenter;
      }
    }
  }
}
